.product-card {
  width: 240px;
  margin: 30px;
  .ant-card-meta {
    text-align: center;
  }
  .price-card {
    text-align: center;
    margin-top: 10px;
  }
  .btn-addtocart {
    text-align: center;
    margin: 10px;
  }
}
